@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Square+Peg&display=swap');


:root {
    background-color: #FFA630;
    font-family: 'Square Peg', cursive;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: white;
    font-size: 100px;
}

h2 {
    font-size: 50px;
}

a {
    text-decoration: none;
    font-size: 50px;
    border: #218380 2px solid;
    padding: 20px;
    margin-top: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
    padding: 10px;
}

.flex-column {
    display:flex;
    flex-direction: column;
}

flex-center {
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: 2.5rem;
    text-align: center;
    text-decoration: none;
    color: white;
    background: linear-gradient(90deg, #218380 0%, #73D2DE 100%);
}
#highscore-btn {
    background: linear-gradient(90deg, #D81159 0%, #8F2D56 100%);
}


.btn:hover {
    transform: scale(1.05);
    transform: transform 100ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}
/* 
end page css here */

.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 10px;
    font-size: 20px;
}

input::placeholder{
    color: #aaa;
}
#username {
    margin-bottom: 3rem;
    width: 100%;
}
#endtext {
    font-size: 20px;
    color: white;
}

#saveScoreBtn {
    border: none;
}